<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="helloDao" class="org.originit.relate.dao.HelloDao" scope="SINGLTON"/>
    <bean id="helloService" class="org.originit.relate.service.HelloService" init-method="init" scope="prototype">
        <constructor>
            <arg value="xxc" />
            <arg ref="helloDao"/>
        </constructor>
    </bean>
    <bean class="org.originit.relate.factoryBean.HelloServiceFactory" name="hsf">
        <property name="helloDao" ref="helloDao"></property>
    </bean>
    <bean class="org.originit.event.SpringRefreshEventListener" name="refresh"></bean>
    <bean class="org.originit.processor.LoggerDelegateProcessor" destory-method="des"/>
</beans>